*{
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, #8EC5FC, #FFBBEC);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(6, 100px);
}

.calculator-grid > button {
    font-size: 2rem;
    border: 1px solid white;
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, .9);
    cursor: pointer;
}

.AC {
    grid-column: span 2;
    background-color: #ff5c5c;
}

.Equal{
    grid-column: span 3;
    background-color: #678aff;
}

.op {
    background-color: #31b0ff;
}

.opa{
    background-color: #7eff45
}

.num {
    background-color: #8dd3ff;
}

.del{
    background: #ff5c5c;
}

.output {
    grid-column: 1 / -1;
    background-color: #3f4aa0;
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 15px;
}

.output .previous-operand {
    color: #ffffff;
    opacity: 0.75;
    font-size: 1.5rem;
}

.output .current-operand {
    color: white;
    font-size: 2.5rem;
}
